MBASite/Helpers/XmlEntities/Comments.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="comments">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="author" type="xs:int"></xs:attribute>
            <xs:attribute name="date" type="xs:date"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>